div {
 background-color: green;
 height: 100px;
 width: 100px;
}

table {
    border-spacing: 1em 0.5em;
    padding: 0 2em 1em 0;
    }
  
  td {
    width: 50%;
    height: 1.5em;
    background: #d2d2d2;
    text-align: left;
    vertical-align: middle;
  }

  .career1 {
  width: 7%;
  background: #d2d2d2;
  text-align: left;
  vertical-align: top;
  }

  body {
    background-color: DFFFD8;
  }

  hr {
    border-style: none;
    color: rgb(65, 65, 31);
    height: 2px;
  }
  